.hero-unit
  %h1#title Bloomcaps
  %p Bloomcaps are beautiful flower designs made from recycled materials such as used medicine vial caps. These designs are then used to decorate a whole variety of everyday objects, such as magnets and ID card rollers.
  %br
  = link_to "CHOOSE NOW!", items_url, class: "btn primary", style: "font-size: 25px; display: block; width: 200px; margin: 0 auto; text-align: center;"
  
%ul.media-grid
  %li
    = image_tag "flower280x150.jpg"
  %li
    = image_tag "2flower280x150.jpg"
  %li
    = image_tag "3flower280x150.jpg"