.hero-unit
  %h1#title Bloomcaps
  %p Bloomcaps are beautiful flower designs made from recycled materials such as used medicine bottle caps. These designs are then used to decorate a whole variety of everyday objects, such as magnets and ID card rollers.