// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Alex Brush;
  font-size: 40px;
}

.price {
  font-size: 2em;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

ul.items {
  li {
    display: block;
    width: 200px;
    list-style-type: none;
    float: left;
    padding: 8px 8px 8px 8px;
    margin: 5px 5px 15px 5px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    
    .description {
      display: block;
      height: 3.5em;
      padding: 5px;
    }
    input#quantity {
      width: 30px;
    }
  
    
    form {
      margin: 5 15px;
    }
  }
}